In [1]:
import pandas as pd
import altair as alt
alt.renderers.enable('notebook')

data = pd.DataFrame({'a': list('CCCDDDEEE'),
                     'b': [2, 7, 4, 1, 2, 6, 8, 4, 7]})

In [2]:
chart = alt.Chart(data).mark_point().encode(
    x='a',
    y='b'
)
chart.show()

Displaying chart at http://localhost:42233/
Opening in existing browser session.

In [3]:
# load a simple dataset as a pandas DataFrame
from vega_datasets import data
cars = data.cars()

chart = alt.Chart(cars).mark_point().encode(
    x='Horsepower',
    y='Miles_per_Gallon',
    color='Origin',
).interactive()
chart.show()

Displaying chart at http://localhost:42233/
Opening in existing browser session.

In [4]:
assets = pd.read_csv('../data/staging_assets.csv')
assets.rename(
    columns={
        'address':'Address',
        'domains':'Domains',
        'first_seen':'First Seen',
        'last_seen': 'Last Seen',
        'hostname':'Hostname',
        'name':'Name',
        'online':'Online',
        'ip_version': 'IP Version',
        'risk_score':'Risk Score'
    },
    inplace=True    
)
assets.head()

,Address,Domains,First Seen,Hostname,IP Version,known,Last Seen,Name,Online,Risk Score
0,3.224.115.40,ec2-3-224-115-40.compute-1.amazonaws.com,2022-10-14T00:00:00.875836Z,ec2-3-224-115-40.compute-1.amazonaws.com,4,False,2022-10-26T00:00:00.417605Z,ec2-3-224-115-40.compute-1.amazonaws.com,True,6.528397
1,3.219.196.169,ec2-3-219-196-169.compute-1.amazonaws.com,2022-10-04T00:00:00.346170Z,ec2-3-219-196-169.compute-1.amazonaws.com,4,False,2022-10-04T00:00:00.346170Z,ec2-3-219-196-169.compute-1.amazonaws.com,True,16.320992
2,143.204.86.22,"server-143-204-86-22.nrt12.r.cloudfront.net,do...",2022-05-10T00:00:00.812885Z,server-143-204-86-22.nrt12.r.cloudfront.net,4,False,2022-05-10T00:00:00.812885Z,documentation.catosec.io,True,9.792595
3,52.203.213.7,ec2-52-203-213-7.compute-1.amazonaws.com,2022-10-13T00:00:00.446386Z,ec2-52-203-213-7.compute-1.amazonaws.com,4,False,2022-10-13T00:00:00.446386Z,ec2-52-203-213-7.compute-1.amazonaws.com,True,16.320992
4,108.138.85.73,"server-108-138-85-73.iad12.r.cloudfront.net,do...",2022-10-15T00:00:00.364146Z,server-108-138-85-73.iad12.r.cloudfront.net,4,False,2022-10-15T00:00:00.364146Z,documentation.catosec.io,True,9.792595

In [5]:
# sns.histplot(assets, x='Risk Score', binwidth=10)
chart = alt.Chart(assets).mark_bar().encode(
   alt.X('Risk Score', bin=True),
   y='count()')
chart.show()

Displaying chart at http://localhost:42233/
Opening in existing browser session.

In [6]:
# bogus: errors for any format
# from altair_saver import save
# alt.renderers.enable('altair_saver', fmts=['vega-lite', 'png'])
# save(chart, 'RiskScoreBarChart.png')